<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Update User {{user}}</h1>
    <form action="/user/update/userupdated" method="post">
        <input type="text" name="olduser" id="olduser" value="{{user}}"><br>
        <input type="text" name="newuser" id="newuser" value="{{user}}"><br>
        <!-- <input type="password" name="pass" id="pass" value="{{pass}}"><br> -->
        <input type="submit" value="Update user">
    </form>
</body>
</html>